services:
  backend:
    build:
      context: .
      target: deps
    command: sh -c "pnpm --filter backend prisma generate && pnpm --filter backend start:dev"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    volumes:
      - ./backend:/app/backend
      - ./package.json:/app/package.json:ro
      - ./pnpm-lock.yaml:/app/pnpm-lock.yaml:ro
      - ./pnpm-workspace.yaml:/app/pnpm-workspace.yaml:ro
      - backend-node-modules:/app/backend/node_modules

  frontend:
    build:
      context: .
      target: deps
    command: pnpm --filter frontend dev -- --host 0.0.0.0 --port 5173
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app/frontend
      - ./package.json:/app/package.json:ro
      - ./pnpm-lock.yaml:/app/pnpm-lock.yaml:ro
      - ./pnpm-workspace.yaml:/app/pnpm-workspace.yaml:ro
      - frontend-node-modules:/app/frontend/node_modules
    ports:
      - 5174:5173

volumes:
  backend-node-modules:
  frontend-node-modules:
